.support-section {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 87px;
  padding-bottom: 103px;
  margin-left: -2px;
  background: #1c2a33;
}
.support-image {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 61px;
  max-width: initial;
  height: 97px;
}
.img-content-47f4c68b {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%271170.5000%201112.5000%2061.0000%2096.5000%27%20x%3D%270%27%20y%3D%270%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20id%3D%27Combined%20shape%201179%27%20fill-rule%3D%27evenodd%27%20clip-rule%3D%27evenodd%27%20d%3D%27M1219%201188C1219%201189.65%201217.66%201191%201216%201191H1186C1184.34%201191%201183%201189.65%201183%201188C1183%201186.34%201184.34%201185%201186%201185H1216C1217.66%201185%201219%201186.34%201219%201188ZM1216%201194H1186C1184.34%201194%201183%201195.34%201183%201197C1183%201198.66%201184.34%201200%201186%201200H1216C1217.66%201200%201219%201198.66%201219%201197C1219%201195.34%201217.66%201194%201216%201194ZM1195%201209H1207C1210.32%201209%201213%201206.31%201213%201203H1189C1189%201206.31%201191.68%201209%201195%201209ZM1231%201143C1231%201159.31%201221.17%201161.21%201219.32%201179C1219.32%201180.65%201217.98%201182%201216.32%201182H1185.68C1184.02%201182%201182.68%201180.65%201182.68%201179H1182.67C1180.83%201161.21%201171%201159.31%201171%201143C1171%201126.43%201184.43%201113%201201%201113C1217.57%201113%201231%201126.43%201231%201143ZM1213.15%201134C1178.27%201142.25%201195.15%201164%201195.15%201164C1195.15%201152%201203.96%201149.18%201204.15%201149.56C1197.96%201155.56%201195.15%201176%201195.15%201176H1201.15C1201.15%201176%201201.15%201170%201201.15%201164C1218.21%201164.93%201213.15%201136.06%201213.15%201134Z%27%20fill%3D%27%2318CFAB%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%2F%3E%3C%2Fsvg%3E");
}
.unlimited-support {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-top: 55px;
  font: 700 20px Montserrat;
  color: #18cfab;
  text-transform: uppercase;
}
