.theme-option-container {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 87px;
  padding-bottom: 103px;
  background: #1c2a33;
}
.theme-option-image {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 59px;
  max-width: initial;
  height: 98px;
}
.img-content-86b7da7e {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%27211.9553%201112.5000%2058.5447%2097.5000%27%20x%3D%270%27%20y%3D%270%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20id%3D%27Combined%20shape%20629%27%20fill-rule%3D%27evenodd%27%20clip-rule%3D%27evenodd%27%20d%3D%27M227.7%201147.98L227.711%201132.13C227.711%201130.3%20228.397%201128.59%20229.651%201127.31C231.044%201125.9%20233.037%201125.1%20235.138%201125.1C236.777%201125.1%20238.353%201125.61%20239.575%201126.52C241.054%201127.62%20241.975%201129.29%20242.168%201131.2C242.168%201131.24%20243.014%201139.5%20243.775%201146.9C249.102%201143.74%20252.692%201137.89%20252.692%201131.2C252.692%201121.14%20244.633%201113%20234.688%201113C224.743%201113%20216.683%201121.14%20216.683%201131.2C216.673%201138.73%20221.217%201145.21%20227.7%201147.98ZM228.418%201207.83C228.418%201209.02%20229.383%201210%20230.562%201210H262.241C263.42%201210%20264.384%201209.02%20264.384%201207.83V1202.87H228.418V1207.83ZM266.667%201164.02C268.66%201164.67%20270%201166.54%20270%201168.66L269.979%201185.92C269.979%201188.49%20269.292%201191.01%20267.996%201193.2L264.363%201199.41H228.397C218.387%201189.16%20213.308%201178.23%20212.536%201173.54C212%201170.32%20214.218%201168.17%20216.683%201168.17C218.087%201168.17%20219.577%201168.86%20220.691%201170.48C221.045%201171%20221.431%201171.56%20221.86%201172.18C225.026%201176.81%20228.275%201176.91%20229.758%201176.95L229.811%201176.96H229.843C229.887%201176.96%20229.94%201176.96%20229.983%201176.94H230.004C230.519%201176.87%20230.894%201176.43%20230.894%201175.91L230.915%201132.12C230.904%201129.66%20233.048%201128.34%20235.127%201128.34C236.96%201128.34%20238.739%201129.36%20238.964%201131.53C238.964%201131.58%20241.729%201158.6%20241.739%201158.69V1158.7H241.75C242.511%201158.02%20243.775%201157.62%20245.222%201157.62C245.758%201157.62%20246.316%201157.67%20246.883%201157.78C248.716%201158.15%20260.719%201162.06%20266.667%201164.02Z%27%20fill%3D%27%2318CFAB%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%2F%3E%3C%2Fsvg%3E");
}
.theme-option-title {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-top: 54px;
  font: 700 20px Montserrat;
  color: #18cfab;
  text-transform: uppercase;
}
