.responsive-container {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 97px;
  padding-bottom: 103px;
  margin-left: -2px;
  background: #18cfab;
}
.responsive-image-caption {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 100px;
  max-width: initial;
  height: 77px;
}
.img-content-e8cd4ff9 {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%271631.5000%201122.5000%20100.0000%2077.0000%27%20x%3D%270%27%20y%3D%270%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20id%3D%27Combined%20shape%201102%27%20fill-rule%3D%27evenodd%27%20clip-rule%3D%27evenodd%27%20d%3D%27M1713.36%201128.36H1651.19V1139.54H1645.71V1123H1718.84V1153.08H1713.36V1128.36ZM1670.8%201199H1632V1141.97H1670.8V1199ZM1650.35%201194.3C1650.35%201195.31%201651.18%201196.14%201652.22%201196.14C1653.25%201196.14%201654.09%201195.31%201654.09%201194.3C1654.09%201193.29%201653.25%201192.47%201652.22%201192.47C1651.18%201192.47%201650.35%201193.29%201650.35%201194.3ZM1665.19%201147.47H1637.61V1189.54H1665.19L1665.19%201147.47ZM1673.3%201164.87H1702.11V1170.24H1673.3V1164.87ZM1704.94%201198.11V1155.16H1731V1198.11H1704.94ZM1719.18%201157.56C1719.18%201157.22%201718.9%201156.94%201718.55%201156.94C1718.2%201156.94%201717.92%201157.21%201717.92%201157.56C1717.92%201157.89%201718.2%201158.18%201718.55%201158.18C1718.9%201158.18%201719.18%201157.89%201719.18%201157.56ZM1722.3%201159H1714.8V1159.59H1722.3V1159ZM1716.8%201194.78C1716.8%201195.59%201717.48%201196.25%201718.3%201196.25C1719.13%201196.25%201719.81%201195.59%201719.81%201194.78C1719.81%201193.96%201719.13%201193.3%201718.3%201193.3C1717.47%201193.3%201716.8%201193.97%201716.8%201194.78ZM1709.12%201191.23C1712.48%201191.26%201720.05%201191.23%201726.82%201191.19V1161.7L1709.12%201161.7V1191.23ZM1673.3%201172.43H1681.23H1683.31H1702.11V1180.05H1673.3V1177.11H1692.61V1175.69H1673.3V1172.43Z%27%20fill%3D%27white%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%2F%3E%3C%2Fsvg%3E");
}
.customizable-heading {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-top: 65px;
  font: 700 20px Montserrat;
  color: white;
  text-transform: uppercase;
}
