.creative-design-section3 {
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.creative-design1 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-bottom: 202px;
}
.progress-bar1 {
  box-sizing: border-box;
  width: 288px;
  height: 6px;
  background: #18cfab;
}
